<header class="header">
    <div class="header-row">

        <div class="header-column">
            <!-- LOGO -->
            <div class="logo">
                <img src="https://static.wixstatic.com/media/d8c408_a6b83cdc4dd7455d8ef493a6668bbed8~mv2.png/v1/fill/w_812,h_563,al_c,usm_0.66_1.00_0.01/d8c408_a6b83cdc4dd7455d8ef493a6668bbed8~mv2.png"
                    alt="Logo">
                <b>ToKeyboards</b>
            </div>
        </div>

        <div class="header-column">
            <!---------------------------- PERSQUIUSA ------------------------>
            <input type="text" placeholder="Pesquisar...">
        </div>

        <div class="header-column">
            <!------------------------------ MENU ---------------------------->
            <menu type="toolbar">
                <ul class="menu-list">
                    <li class="menu-item">
                        <button>
                            <i class="pi pi-sun"></i>
                        </button>
                    </li>
                    <li class="menu-item">
                        <button>
                            <i class="pi pi-shopping-cart"></i>
                        </button>
                    </li>
                    <li class="menu-item">
                        <button class="login-button">
                            <label>Login</label>
                        </button>
                    </li>
                </ul>
            </menu>
        </div>

    </div>

</header>